#these requirements are used inside the testing environment

selenium
pytest
pytest-cov
pep8
#need git checkout for experimental python 3 support
-e git://github.com/python-imaging/Pillow.git@master#egg=pillow
mock
